<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989021201314-bnprpsrdjddl3pnjrk0jlv6j2203sv4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989021201314-bnprpsrdjddl3pnjrk0jlv6j2203sv4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>989021201314-56qbl6mquuevnud40e8ni4ffrgd9kuli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAezMdHoWcttEIbLM6W8HtqAlcyV9CS1jc</string>
	<key>GCM_SENDER_ID</key>
	<string>989021201314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jspsDepo</string>
	<key>PROJECT_ID</key>
	<string>jspsdepo-9d5ea</string>
	<key>STORAGE_BUCKET</key>
	<string>jspsdepo-9d5ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989021201314:ios:3bf5b243894777ae4d08fb</string>
</dict>
</plist>